{% extends "base.html" %}

{% block content %}
    <h1>Entrar</h1>
    <form action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      <p>
        {{ form.username.label }}<br>
        {{ form.username(size=50) }}<br>
        {% for error in form.username.errors %}
        <span style="color:red;">Campo necessário</span>
        {% endfor %}
      </p>
      <p>
        {{ form.password.label }}<br>
        {{ form.password(size=50) }}<br>
        {% for error in form.password.errors %}
        <span style="color:red;">Campo necessário</span>
        {% endfor %}
      </p>
      <p>{{ form.remember() }} {{ form.remember.label }}</p>
      <p>{{ form.submit() }}</p>
    </form>
    <p>
      Esqueceu sua senha?
      <a href="{{ url_for('reset_password_request') }}"> Clique aqui</a>
  </p>
    <p>Usuário Novo? <a href="{{ url_for('register') }}">Clique aqui</a></p>
{% endblock %}
